{% extends 'App_general/components/Base.html' %}
{% load static %}

{% block Site_Title%} รายการที่ {{ food.id }} :{{ food.title }} | {% endblock %}

{% block content %}
<section class="content-section content-section-single">
    <div class="content-container">
        {% if food is not None %}
            <div class="grid grid-2">
                <img class="image-block" src="{% static food.image_relative_url %}" alt="">
                <div>
                    <h3>{{ food.title }}</h3>
                    {% if food.special_Price is not None %}
                    <p>
                        <b>{{ food.special_Price|floatformat:'g'}} THB</b>
                        <del class="text-gray">{{ food.price|floatformat:'g'}} THB</del>
                    </p>
                {%else%}
                    <p>{{ food.price|floatformat:'g'}} THB</p>
                {%endif%}
                {% if food.is_Premium == True %}
                <p>*** เมนู Premium หมดแล้วหมดเลย ***</p>
                {% endif %}
                {% if food.end_Promotion is not None %}
                    <p>โปรโมชั่นถึงวันที่ {{ food.end_Promotion|date:'j N Y'}}</p>
                {% endif %}
                <p>{{ food.description }}</p>
                    <p>
                        <a class="button button-primary" href="{% url 'Subscription_form' %}">ลงทะเบียนรับโปรโมชั่น</a>
                    </p>
                </div>
            </div>
        {% else %}
            <p>ไม่พบเมนู</p>
        {% endif %}
    </div>
</section class="content-section content-section-single">
{% endblock %}