{% extends 'App_general/components/Base.html' %}

{% block Site_Title%} รายการที่ {{ food.id }} :{{ food.title }} | {% endblock %}

{% block content %}
{% if food is not None %}
<div>
    <h3>{{ food.title }}</h3>
    <p>{{ food.price|floatformat:'g'}} THB</p>

    {% if food.is_premium == True %}
        <p>*** เมนู Premium หมดแล้วหมดเลย ***</p>
    {% endif %}
    <p>โปรโมชั่นถึงวันที่ {{ food.end_Promotion|date:'j N Y'}}</p>
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
        standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make
        a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting,
        remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing
        Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions
        of Lorem Ipsum</p>
</div>
{% else %}
    <p>ไม่พบเมนู</p>
{% endif %}
{% endblock %}