{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block Site_Title %}{% endblock %}Oni Delivery</title>
    <link rel="icon" href="{% static 'App_general/favicon.png' %}">
    <link rel="stylesheet" href="{% static 'App_general/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'App_general/main.css' %}">
</head>

<body>
    {% include 'App_general/components/Site_Header.html' %}
    {% block content %}{% endblock %}
    {% include 'App_general/components/Site_Footer.html' %}
    <script src="{% static 'App_general/main.js' %}"></script>
</body>
</html>