{% extends 'App_general/components/Base.html' %}


{% block Site_Title%} ขอบคุณสำหรับลงทะเบียนรับโปรโมชั่น | {% endblock %}

{% block content %}
<div>
    <h2>ขอบคุณสำหรับลงทะเบียนรับโปรโมชั่น</h2>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cumque necessitatibus voluptatem natus facilis,
        quisquam error veniam impedit delectus expedita est consectetur ducimus commodi accusantium tempore magnam enim?
        Illum, culpa facere?</p>
    <a href="{% url 'homeMain' %}">กลับหน้าแรก</a>
</div>
{% endblock %}