{% extends 'App_general/components/Base.html' %}


{% block Site_Title%} ขอบคุณสำหรับลงทะเบียนรับโปรโมชั่น | {% endblock %}

{% block content %}
<section class="content-section content-section-single">
    <div class="content-container content-container-narrow">
        <h2>ขอบคุณสำหรับลงทะเบียนรับโปรโมชั่น</h2>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cumque necessitatibus voluptatem natus facilis,
            quisquam error veniam impedit delectus expedita est consectetur ducimus commodi accusantium tempore magnam enim?
            Illum, culpa facere?</p>
        <a class="button button-primary" href="{% url 'homeMain' %}">กลับหน้าแรก</a>
    </div>
</section>

{% endblock %}