{% extends 'App_general/components/Base.html' %}
{% load static %}

{% block Site_Title%} เกี่ยวกับ | {% endblock %}

{% block content %}
<section class="content-section content-section-single">
    <div class="content-container">
        <h2 class="content-title">About Oni Delivery</h2>
        <h4>ก่อตั้งเมื่อวันที่ 7 สิงหาคม 2022</h4>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nisi, eum ad ea dolores ratione minima sint
            deserunt amet totam sed, repudiandae officiis tempore suscipit quasi. Quod culpa esse cum consequuntur.</p>
        <h4>วัตถุดิบจากต่างดาว</h4>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse sint explicabo minus fugit facilis optio ex,
            sit, necessitatibus saepe eum aliquid magni magnam, reprehenderit cum aperiam nemo temporibus officiis
            doloremque deleniti molestias a iste quod. Facere deserunt quasi officiis hic!</p>
        <h4>ความเหนือมนุษย์ของ Oni Man</h4>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Totam adipisci, rem quia voluptates impedit
            expedita nemo animi nesciunt, minus quaerat sit error distinctio voluptate cumque perferendis non iusto!
            Delectus corrupti, fuga autem sed quaerat eos amet repellat rem? Unde dolore doloribus rem dicta minus. Odio
            nobis dignissimos necessitatibus assumenda at quibusdam ullam dolores officiis obcaecati? Consequuntur rem
            hic, voluptatibus quas quos reprehenderit ducimus at voluptas dolor reiciendis voluptatem nobis distinctio
            autem tempora saepe voluptates! Perferendis earum, sequi, consectetur nisi suscipit nobis dignissimos
            dolores quisquam cumque totam animi velit fugiat esse? Necessitatibus, aspernatur reprehenderit vel dolorem
            natus hic facere maiores neque</p>
    </div>
</section>
{% endblock %}